torch==2.6.0
accelerate==1.4.0
libaio
torchmetrics==1.6.2
torchvision
pandas
matplotlib
numpy==1.26.4
scipy
transformers>=4.46.0 
tokenizers
scikit-learn
seaborn
h5py
lxml
urllib3
pyfaidx
antiberty
peft==0.8.2
PyYAML
requests
psutil
gputil
pynvml
einops
botocore
boto3
paramiko
bayesian-optimization
lightning==2.5.0
deepspeed==0.16.3
Bio
python-dotenv
tensorboard
esm
blosum
optuna
optuna-integration[pytorch_lightning]
plotly
kaleido