torch==2.2.1
accelerate==0.27.2
libaio
torchmetrics
torchvision
pandas
matplotlib
numpy<2.0.0
scipy
transformers==4.44.2
tokenizers==0.19.0
scikit-learn
seaborn
h5py
lxml
urllib3
pyfaidx
antiberty
peft==0.8.2
PyYAML
requests
psutil
gputil
pynvml
einops
botocore
boto3
paramiko
bayesian-optimization
lightning==2.2.1
deepspeed==0.14.0
Bio
python-dotenv
tensorboard
# esm
blosum