torch>=2.1
torchmetrics
pandas
matplotlib
numpy
scipy
transformers==4.28.0
tokenizers!=0.11.3,<0.14,>=0.11.1
scikit-learn
seaborn
tensorflow
tensorflow_addons
h5py
lxml
urllib3==1.26.6
pyfaidx
antiberty
peft
PyYAML
requests
psutil
pynvml
